<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<embed height="300" width="500" flashvars="xml_path=xml/product.xml" allowscriptaccess="sameDomain" scale="noscale" quality="high" bgcolor="#FFFFFF" name="preview" id="preview" style="" src="preview.swf" type="application/x-shockwave-flash"/>
</body>
</html>